.row{
    max-height: 50%;
    display: flex;
    
}
.card{
    flex-direction: row;
    flex: auto;
}
.miert{
    border: solid black 2px;
    border-radius: 20px;
    margin: 5px;
    overflow:hidden;
}
img{
    border: solid black 2px;
    border-radius: 5%;
    overflow:hidden;
    width: 200px;
    height: 200px;
}